language = "c"

include_guard = "LIBSNIPS_NLU_H_"

header = "#define SNIPS_NLU_VERSION \"0.65.5\""

[parse]
parse_deps = true
include = [
    "snips_nlu_ffi",
    "ffi_utils",
    "snips_nlu_ontology_ffi",
    "snips_nlu_ontology_ffi_macros",
]

[parse.expand]
crates = [
    "snips-nlu-ffi",
]

[export]
# These types are hidden behind a void pointer, let's include them
include = [
    "CActionSessionInit",
    "CNumberValue",
    "COrdinalValue",
    "CPercentageValue",
    "CInstantTimeValue",
    "CTimeIntervalValue",
    "CAmountOfMoneyValue",
    "CTemperatureValue",
    "CDurationValue",
]
